/* ----------------
format elements
-----------------*/

/* style="padding: 15px 15px 0px 15px;" for media query - phone size portfolio*/

/* include padding and border in height/width of all elements */
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url("gravel.png");
}

nav {
    float: right;
    padding-top: 20px;
    padding-bottom: 16px;
    padding-right: 10px;
}

a {
    color: teal;
    font-family: Arial, Helvetica, sans-serif;
    /* remove underline from link */
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    nav {
        padding-right: 145px;
        /* float:none; */
    }
    
    a {
        text-align: center;
    }
}

.namebkg {
    font-weight: bold;
    font-family: Georgia, Times, 'Times New Roman', serif;
    background-color:teal;
    color: white;
    min-width: 150px;
    border-bottom: 5px solid #cccccc;
}

.name {
    padding-left: 10px;
    padding-top: 15px;
}

.navs {
    border-bottom: 5px solid #cccccc;
    background-color: #ffffff;
}

.label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: teal;
    background-color: #ffffff;
    padding-top: 15px;
    padding-left: 15px;
    /* border-bottom: 5px solid #cccccc; */
}

#formcon {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 15px;
}

#subbtn {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: teal;
}

#aboutcont {
    line-height: 250%;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 15px;
}

#footer {
    /* used fixed position for stick footer */
    position: relative;
    width: 110%;
    margin-left: -5%;
    height: 55px;
    border-top: 5px solid teal;
    padding-top: 30px;
    background-color: #666666;
    color: white;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}