/* ----------------
format elements
-----------------*/

/* include padding and border in height/width of all elements */
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url("gravel.png");
}

nav {
    float: right;
    padding-top: 20px;
    padding-bottom: 16px;
    padding-right: 10px;
}

a {
    color: teal;
    font-family: Arial, Helvetica, sans-serif;
    /* remove underline from link */
    text-decoration: none;
}

hr {
    border: 2px solid #cccccc;
}


/* ----------------
format classes
-----------------*/

/* background for upper container (header) */
.upper-con {
    background-color: white;
    border-bottom: 5px solid #cccccc;
}

/* background for name in topmost row (header) */
.namebkg {
    font-family: Georgia, Times, 'Times New Roman', serif;
    background-color:teal;
    color: white;
}

/* padding for name in topmost row (header) */
.name {
    padding-left: 10px;
    padding-top: 15px;
}

.label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: teal;
    background-color: #ffffff;
    padding-top: 15px;
    padding-left: 15px;
}

/* footer on all pages */
.footer {
    width: 100%;
    height: 55px;
    border-top: 5px solid teal;
    padding-top: 30px;
    background-color: #666666;
    color: white;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* clearfix for floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* content in about me & contact */
.content {
    line-height: 250%;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 15px;
}

/* columns holding portfolio pictures */
.portfolio-pics {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}

/* set transparent background */
.transpar {
    background-color: transparent;
}


/* ----------------
format ids
-----------------*/

/* contact form */
#form-con {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 15px;
}

/* submit button on contact form */
#sub-btn {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: teal;
}


/* photo in about me */
#photo-img {
    width: 200px;
    height: 200px;
    padding-top: 10px;
    padding-right: 10px; float: left;
}

/* ----------------
format media queries
-----------------*/

/* added for spacing of page links during resizing */
@media screen and (max-width: 768px) {
    nav {
        padding-right: 145px;
    }
    
    a {
        text-align: center;
    }
}